## General files to ignore ##
#############################
# History files
.Rhistory
.Rapp.history
.DS_Store

# Session Data files
.RData

# User-specific files
.Ruserdata
.Rproj.user

# Example code in package build process
*-Ex.R

# Output files from R CMD build or archives
*.tar.gz
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Output files from R CMD check
/*.Rcheck/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Data from processing scripts
*_read_changes.txt
DATA/

# DIGEST web files
#web.Rproj
#*.Rmd

# knitr and R markdown default cache directories
*_cache/
/cache/
build/*_files/

