/* Whole document: */
@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow|PT+Serif');
/* controls general properties of site*/
body {
  font-family: PT Serif, serif;
  color: #333332;
  line-height: 1.7;
  font-size: 1.7em;
}

/* Headers */
h1,h2,h3,h4,h5,h6 {
  margin-top: 64px;
  font-family: PT Sans Narrow, PT Sans, sans-serif;
}

h1.title {
font-size: 34px;
}

h1 {
font-size: 34px;
}

h2 {
font-size: 30px;
}

h3 {
font-size: 26px;
}

h4 {
font-size: 24px;
}

h5 {
font-size: 21px;
}

h6 {
font-size: 18px;
}

code, kbd, pre, samp, .sourceLine, .sourceCode {
  font-family: 'Monaco', 'PT Mono', monospace;
}

/*------------CONTACT FORM CSS code-----------------*/

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 600px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: left;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 400px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 10em;
}

.button {
  /* Align buttons with the text fields */
  padding-right: 190px; /* same size as the label elements */
  text-align: center;
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}
